.cards{id: "hotels"}
  - hotels.each do |hotel|
    = render partial: "hotel_card", locals: { hotel: hotel, prefilled_data: prefilled_data}
.flex.justify-center
  - if hotels.empty?
    = render RubyUI::Text.new(class: "text-xl font-semibold") { "No available hotels found" }